body{
    margin: 0;
    padding: 0;
    background: rgb(129, 127, 109);
    background-size: cover;
    font-family: sans-serif;
    color: #fff;
}
.signupbox{
    background: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    font-weight: 600;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
    padding-top: 0;
}
.header{
    background: blue;
    margin: -20px;
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.signupbox h2{
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
    color: rgb(228, 228, 228);
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.signupbox form{
    position: relative;
    padding: 30px;
    padding-top: 0px;
}
.user{
    text-align: left;
}
.user input{
    border: none;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    font-size: 15px;
}
p{
    margin-top: 0px;
}
.gender input{
    margin-left: 50px;
    left: 20px;
}
.status input{
    margin-left: 25px;
}
.top input{
    width: 300px;
    height: 30px;
}
.bottom select{
    width: 315px;
    border: none;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.bottom select option{
    background-color: rgb(255, 255, 255);
}
.sub{
    text-align: center;
    margin-top: 30px;
}
.sub input{
    color: rgb(228, 228, 228);
    width: 250px;
    padding: 10px;
    background-color: blue;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 5px 15px -5px red;
}
.sub input:hover{
    background-color: red;
    color: rgb(228, 228, 228);
    box-shadow: 0 5px 15px -5px blue;
    transition: 0.2s linear;
}